services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  http-backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    container_name: http-backend
    env_file:
      - .env
    ports:
      - "3001:3001"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./apps/http-backend:/usr/src/app/apps/http-backend
      - ./packages:/usr/src/app/packages
      - /usr/src/app/node_modules

  ws-backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.websocket
    container_name: ws-backend
    env_file:
      - .env
    ports:
      - "3002:3002"
    depends_on:
      - http-backend
    volumes:
      - ./apps/ws-backend:/usr/src/app/apps/ws-backend
      - ./packages:/usr/src/app/packages
      - /usr/src/app/node_modules

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    container_name: web
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - http-backend
    volumes:
      - ./apps/web:/usr/src/app/apps/web
      - ./packages:/usr/src/app/packages
      - /usr/src/app/node_modules

volumes:
  postgres_data: