services:
  http-backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    environment:
      - PORT=3001
      - JWT_SECRET=NeNG0o4IJbmMaMWbttRe
      - FRONTEND_URL=http://localhost:3000
    ports:
      - "3001:3001"
    depends_on:
      - postgres
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    environment:
      - NEXT_PUBLIC_BACKEND_URL=http://localhost:3001
      - NEXT_PUBLIC_WS_URL=ws://localhost:3002
    ports:
      - "3000:3000"
    depends_on:
      - http-backend

  ws-backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.websocket
    environment:
      - JWT_SECRET= "NeNG0o4IJbmMaMWbttRe"
    ports:
      - "3002:3002"
    depends_on:
      - http-backend

  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
