services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  http-backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    container_name: http-backend
    ports:
      - "3001:3001"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./apps/http-backend:/usr/src/app/apps/http-backend
      - ./packages:/usr/src/app/packages
      - /usr/src/app/node_modules
    networks:
      - app-network
    command: sh -c "cd /usr/src/app/packages/db && pnpm prisma generate && pnpm prisma migrate deploy && cd /usr/src/app && pnpm run dev --filter=http-backend"

  ws-backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.websocket
    container_name: ws-backend
    ports:
      - "3002:3002"
    depends_on:
      - http-backend
    volumes:
      - ./apps/ws-backend:/usr/src/app/apps/ws-backend
      - ./packages:/usr/src/app/packages
      - /usr/src/app/node_modules
    networks:
      - app-network

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    container_name: web
    ports:
      - "3000:3000"
    depends_on:
      - http-backend
    volumes:
      - ./apps/web:/usr/src/app/apps/web
      - ./packages:/usr/src/app/packages
      - /usr/src/app/node_modules
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge