@import "tailwindcss";

body {
  background-color: #f8f9fa;
  background-image: radial-gradient(#d0d0d0 1px, transparent 1px);
  background-size: 20px 20px;
  color: #1a1a1a;
}

html.dark body {
  background-color: #121212;
  background-image: radial-gradient(#333333 1px, transparent 1px);
  color: #f8f9fa;
}

html,
body {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
